# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ===============================
# Virtual Environment
# ===============================
venv/
.env/
.venv/
ENV/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Database
# ===============================
*.db
*.sqlite3

# ===============================
# Alembic
# ===============================
alembic/versions/__pycache__/
alembic/versions/*.pyc

# agar migration fayllarini saqlamoqchi bo‘lsang,
# QUYIDAGI QATORNI YOQMANG!
# alembic/versions/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Uvicorn
# ===============================
*.pid
